.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gorditas', cursive;
    
}

.Link {
    text-decoration: none;
    color: inherit;
}

.Login {
    background-color: #92c57c;
    
}

.Signup {
   background-color: #92c57c; 
}

.Login:hover {
    background-color: #82ad6f;
}

.Signup:hover {
    background-color: #82ad6f;
}

